<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Utilisation de url_for pour générer le chemin vers le fichier style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>GUDLFT Registration</title>
  </head>
  <body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>

    <p>Please enter your secretary email to continue:</p>
    <form action="showSummary" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email"/>
      <button type="submit">Enter</button>
    </form>

    {% include "messages.html" %}

    <hr />
    <p>Total points of all clubs :
      <a href="{{ url_for('showScoreboard') }}">Go to scoreboard</a></p>
  </body>
</html>